<% layout("main.l.html") %>

<%
  function id(thought) {
    const d = thought.date

    const parts = [
      "thought",
      d.getFullYear(),
      d.getMonth() + 1,
      d.getDate(),
      d.getHours(),
      d.getMinutes()
    ]

    return parts.join("-")
  }

  function url(thought) {
    return `/thought-world#${id(thought)}`
  }

  function date(thought) {
    return thought.date.toLocaleString("en-US", { day: "numeric", month: "short", year: "numeric", timeZone: "America/New_York" }).toLowerCase()
  }

  function time(thought) {
    return thought.date.toLocaleString("en-US", { hour: "numeric", minute: "numeric", timeZoneName: "shortGeneric", timeZone: "America/New_York" }).toLowerCase()
  }

  function likes(thought) {
    if (thought.like.length === 0) {
      return ""
    }

    return ` | ${thought.like.join("") }`
  }
%>

<w:head>
  <title>thought world</title>
</w:head>

<w:template>
  <main class="Page ThoughtWorld">
    <header class="Title">
      <h1 class="Title-text">thought world</h1>

      <img
        class="ThoughtWorld-icon"
        src="/thought-world/thought-world.png"
        alt="an illustrated, imperfect black circle w/ the words 'thought world' in hand-lettered white text amongst some small drawings of clouds"
        width="150"
        height="150"
      >
    </header>

    <section class="Page-body">
      <section class="ThoughtWorld-links">
        <p><em>another world</em></p>
        <w:frag path="../link" name="tw/hiller" tab="1" />
        <p>---</p>
      </section>

      <section class="Thoughts">
        <% data("./thoughts.d.tw").forEach((t) => { %>
          <article class="Thought" id="<%= id(t) %>">
            <br>
            <span class="Thought-body"><%~ t.body %></span>
            <br>
            <%= date(t) %> | <a href="<%= url(t) %>"><%= time(t) %></a> <%= likes(t) %>
          </article>
        <% }) %>
      </section>
    </section>

    <w:frag path="footer" />
  </main>
</w:template>