<% layout("main.l.html") %>

<%
  function id(d) {
    const parts = [
      "thought",
      d.getFullYear(),
      d.getMonth() + 1,
      d.getDate(),
      d.getHours(),
      d.getMinutes()
    ]

    return parts.join("-")
  }

  function date(d) {
    return d.toLocaleString("en-US", { day: "numeric", month: "short", year: "numeric" }).toLowerCase()
  }

  function time(d) {
    return d.toLocaleString("en-US", { hour: "numeric", minute: "numeric", timeZoneName: "shortGeneric" }).toLowerCase()
  }
%>

<w:head>
  <title>thought world</title>
</w:head>

<w:template>
  <main class="Page ThoughtWorld">
    <header class="Title">
      <h1 class="Title-text">thought world</h1>

      <img
        class="ThoughtWorld-icon"
        src="/thoughtworld/thought-world.png"
        alt="an illustrated, imperfect black circle w/ the words 'thought world' in hand-lettered white text amongst some small drawings of clouds"
        width="150"
        height="150"
      >
    </header>

    <section class="Page-body Thoughts">
      <% data("./thoughts.d.tw").forEach((thought) => { %>
        <article class="Thought" id="<%= id(thought.date) %>">
          <span class="Thought-body"><%~ thought.body %></span>
          <br>
          <%= date(thought.date) %> | <%= time(thought.date) %>
        </article>
        <br>
      <% }) %>
    </section>

    <w:frag path="footer" />
  </main>
</w:template>